<div class="message_box">
  <h2>Thanks for your offer</h2>
  <p>Message summary:</p>
  <p>Your offer is $<%= params[:message]  %></p>
  <p>Will get back to you soon</p>
  <p>from: '+14088370527'</p>
  <p>to: <%= @listing.phone %></p>
</div>
