<!-- display listing index as three in each row -->
<div class="album py-5 bg-dark">
  <div class="container">
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm" id="listing_card_body">
            <%= link_to cl_image_tag(listing.images[0],:class => "card-img-top cl_image", :width => "100%", :height => "225px"), listing if listing.images.present? %>
            <div class="card-body">
              <div class="title">
                <h5 class="card-title"><%= listing.title %></h5>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= button_to "more details", listing, :class => 'btn btn-sm btn-outline-secondary', :method => 'get' %>
                </div>
                <small class="text-muted"><%= "$ #{listing.price }"%></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <div class="cards">
  <div class="d-flex-row justify-content-center flex-wrap">
    <div class="card">
      <div class="card-body">
        <div class="title">
          <h5 class="card-title">Title</h5>
          </div>
          <p>Paragrapg goes here for check</p>
          <div class="pricing">
            <h1>$77.00</h1>
            <a href="#" class="btn btn-dark px-5 py-2 mb-5" Purchase now></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
