<h2>Search Result</h2>

  <% @listings.each do |listing| %>
  <%= cl_image_tag listing.images[0], :class => 'feature' if listing.images.present? %>
  <%= link_to listing.title, listing %></h2>
  <%= listing.price %>
<% end %>
