<h1>Users</h1>

<% @users.each do |user| %>
  <%# check for admin, if admin link to all users account %>
  <% if @current_user.admin? %>
    <p><%= link_to user.email, user_path(user.id)%></p>
  <% else %>
    <p><%= user.email %></p>
  <% end %>
<% end %>
