// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #33cccc;
  // background-image: url("image1.jpeg")
}

nav {
  color: black;
  width: 100vw;
  font-size: 1em;
}

// .carousel-item img {
//   max-width: 30em;
//   max-height: 20em;
// }


// .carousel-item img{
//   width:  200;
//   height: 400px;
//   object-fit: cover;
//   object-fit: cover;
// }

.category {
  font-size: 1.5em;
  padding-left: 10px;
}

.form-control {
  width: 400px;
}

 h1,
 {
  margin:0 20px;
}

h2 {
  font-size: 1.5em
}
.post {
  margin:20px 20px;

}

a {
  padding-left: 10px;
}

.form-group {
  margin: 0 20px;
}

.edit,
.remove {
  font-size: 1.5em;
  margin-top: 20px;
}

#listing_condition,
#listing_availability,
#listing_category_id,
.offer,
.sms {
    width: 400px;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#listing_description {
  width: 400px;
  height: 100px;
}

::placeholder {
  margin-top: 0;
  font-size: 1em;
  padding: 5px;
}

button {
  width: 70px;
  border-radius: 0.8em;
  margin-top: 5px;
}

button.hover {
  color: #669999;
}

.container {
  display: flex;
}

.containerA {
  margin: 35px 10px;
  flex: 1;
  width: 40%;
  padding: 20px;
}

.containerB {
  margin: 80px 10px;
  width: 40%;
  padding: 20px;
  // border: 2px solid red;
}

.w-50 {
    width: 100%;
}

.btn-primary,
 {
  margin: 20px 20px;
  border: 1px solid #ced4da;
}

.category_name {
  font-size: 1.2em;
}
