<div class="album py-5 bg-dark">
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-4" >
          <div class="card mb-4 shadow-sm" id="card_body">
            <div class="card-body">
              <div class="title">
                <h5 class="card-title" id="zoom"><%= link_to category.name, category%></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
